* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

.header {
  background: url(../img/header/header.png) center no-repeat;
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
  height: 1218px;
  opacity: 0.94;
}

.header_text {
  display: inline-block;
  font-family: 'MyriadPro';
  font-size: 20px;
  line-height: 31px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #fbfafa;
  margin: 877px 0px 0px 30px;
}

.header_text::before {
  content: '';
  display: block;
  width: 42px;
  height: 1px;
  position: absolute;
  top: 848px;
  background-color: #ffffff;
}

.block {
  padding-top: 30px;
  padding-bottom: 200px;
}

.block_title {
  display: inline-block;
  font-family: 'DalaFloda' sans-serif;
  font-size: 58px;
  line-height: 59px;
  font-weight: 500;
  color: #000000;
}

.block_title::before {
  content: '';
  display: block;
  width: 180px;
  height: 1px;
  top: 35%;
  left: -15%;
  position: absolute;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  background-color: #000000;
}

.block_text {
  font-family: 'Futura-Bk', sans-serif;
  font-size: 20px;
  line-height: 33px;
  font-weight: 550;
  letter-spacing: 0.01em;
  color: #000000;
}

.block_img {
  border: 20px solid #f1f1e9;
}

.content1 {
  width: 100%;
  height: 100%;
  margin-left: -5%;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.content2 {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.content3 {
  width: 100%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.row_title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'DalaFloda', sans-serif;
  font-size: 21px;
  line-height: 33px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #000000;
}

.row_text {
  font-family: 'DalaMoa', sans-serif;
  font-size: 21px;
  line-height: 33px;
  font-weight: 200;
  letter-spacing: 0.02em;
  color: #000000;
}

.block_it {
  margin-bottom: 40px;
}

.block_it1 {
  padding-bottom: 50px;
  margin-left: 5%;
}

.block_it2 {
  padding-top: 250px;
}

.block_it3 {
  margin-top: -6%;
}

.vidcont {
  padding-top: 274px;
  background: url(../img/vid/vidcontent.png) center no-repeat;
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
  height: 773px;
  text-align: center;
}

.vidcont_icon {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 55px;
}

.vidcont_play {
  max-width: 100%;
  max-height: 100%;
}

.slider {
  padding-top: 118px;
  padding-bottom: 111px;
  text-align: center;
  background-color: #f6f6f6;
}

.slider_title {
  font-family: 'DalaFloda-Med', sans-serif;
  font-size: 49px;
  overflow-y: none;
  line-height: 58px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 42px;
}

.slider_text {
  font-family: 'Futura-Bk', sans-serif;
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #807f7b;
  margin-bottom: 88px;
}

.slider_button {
  padding: 16px 16px;
  outline: none;
  max-width: 351px;
  height: 62px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid black;
  margin-top: 72px;
  font-family: 'Futura-Demi', sans-serif;
  font-size: 14.9px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #000000;
}

.contain {
  max-width: 1920px;
  margin: 0 auto;
}

.slider_block {
  text-align: center;
}

.ring_img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.ring_img1 {
  margin-bottom: 5px;
  padding-left: 27px;
}

.ring_img2 {
  margin-bottom: 9px;
  padding-right: 10px;
}

.ring_img3 {
  margin-bottom: 22px;
  padding-left: 25px;
}

.ring_img4 {
  margin-bottom: 17px;
  padding-right: 10px;
}

.ring_title {
  font-family: 'Futura', sans-serif;
  font-size: 19.3px;
  line-height: 56px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 35px;
}

.shopnow {
  font-family: 'Futura-Demi', sans-serif;
  font-size: 14.9px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #807f7b;
}

.after_img {
  display: inline-block;
  margin: 13px auto auto 10px;
  margin-left: auto;
}

.slick-active {
  outline: none;
}
