.block
  padding-top: 30px
  padding-bottom: 200px
  &_title
    display: inline-block
    font-family: 'DalaFloda' sans-serif
    font-size: 58px
    line-height: 59px
    font-weight: 500
    color: #000000
    &::before
      content: ''
      display: block
      width: 180px
      height: 1px
      top: 35%
      left: -15%
      position: absolute
      transform: rotate(-60deg)
      background-color: #000000
  &_text
    font-family: 'Futura-Bk', sans-serif
    font-size: 20px
    line-height: 33px
    font-weight: 550
    letter-spacing: 0.01em
    color: #000000
  &_img
    border: 20px solid #f1f1e9
.content1
  width: 100%
  height: 100%
  margin-left: -5%
  transform: rotate(1deg)
.content2
  width: 100%
  height: 100%
  transform: rotate(-1deg)
.content3
  width: 100%
  // height: 90%
  transform: rotate(-2deg)
.row_title
  margin-top: 20px
  margin-bottom: 20px
  font-family: 'DalaFloda', sans-serif
  font-size: 21px
  line-height: 33px
  font-weight: 500
  letter-spacing: 0.02em
  color: #000000
.row_text
  font-family: 'DalaMoa', sans-serif
  font-size: 21px
  line-height: 33px
  font-weight: 200
  letter-spacing: 0.02em
  color: #000000
.block_it
  margin-bottom: 40px
.block_it1
  // border: 1px solid red
  padding-bottom: 50px
  margin-left: 5%
.block_it2
  // border: 1px solid red
  padding-top: 250px
.block_it3
  // border: 1px solid red
  margin-top: -6%
